.followItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 28px;
}
.userInform {
  margin-right: auto;
  text-align: left;
}
.followName {
  font-size: 14px;
}
.followUserName {
  font-size: 14px;
  color: var(--crl-neutral-500);
}
