.main {
  display: flex;
  max-width: var(--max-width);
  margin-inline: auto;
  position: relative;
}
.leftSection {
  width: var(--leftSection-width);
  height: 100dvh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
}
.logo {
  margin-left: 14px;
  padding: 4px;
  border-radius: 50%;
  width: fit-content;
}
.logo:hover {
  cursor: pointer;
  background-color: var(--crl-neutral-200);
}
.rightSection {
  background-color: lightblue;
  height: 100dvh;
  width: 334px;
}

.menuItem {
  display: flex;
  gap: 20px;
  padding: 10px 20px 10px;
}
.menuItem:hover {
  background-color: var(--crl-neutral-200);
  border-radius: 100vmax;
  width: fit-content;
  cursor: pointer;
}
.menuText {
  font-size: 20px;
}

.actionButton {
  width: 90%;
  background: var(--crl-blue-800);
  margin-top: 20px;
  padding: 14px 0;
  border: 0;
  border-radius: 100vmax;
  font-size: 18px;
  font-weight: 600;
  color: white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.logoutDiv {
  margin-top: auto;
}
.logout {
  display: flex;
  gap: 10px;
}
.logoutPhoto {
  display: block;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.logoutPhoto img {
  width: 100%;
  object-fit: cover;
}
.logoutTitle {
  font-weight: 700;
  font-size: 14px;
}
.logoutBody {
  font-size: 13px;
}
