.main {
  display: flex;
  max-width: var(--max-width);
  margin-inline: auto;
  position: relative;
}
.centerSection {
  width: 600px;
  height: 500dvh;
  margin-left: var(--leftSection-width);
  border: 1px solid var(--crl-neutral-150);
}
.leftSection {
  width: var(--leftSection-width);
  height: 100dvh;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

@media (max-width: 1300px) {
  .leftSection {
    align-items: flex-end;
    padding: 6px;
  }
}

.rightSection {
  display: flex;
  flex-direction: column;
  gap: 14px;
  height: 100dvh;
  width: 350px;
  margin-left: 36px;
  padding-top: 10px;
}
@media (max-width: 1024px) {
  .rightSection {
    display: none;
  }
  .centerSection {
    margin-inline: center;
  }
}
