.main {
  display: flex;
  max-width: var(--max-width);
  margin-inline: auto;
  position: relative;
}
.leftSection {
  width: var(--leftSection-width);
  height: 100dvh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
}
.logo {
  margin-left: 14px;
  padding: 4px;
  border-radius: 50%;
  width: fit-content;
}
.logo:hover {
  cursor: pointer;
  background-color: var(--crl-neutral-200);
}
.rightSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100dvh;
  width: 350px;
  padding-top: 10px;
  background-color: lightblue;
}

.menuItem {
  display: flex;
  gap: 20px;
  padding: 10px 20px 10px;
}
.menuItem:hover {
  background-color: var(--crl-neutral-200);
  border-radius: 100vmax;
  width: fit-content;
  cursor: pointer;
}
.menuText {
  font-size: 20px;
}

.actionButton {
  width: 90%;
  background: var(--crl-blue-800);
  margin-top: 20px;
  padding: 14px 0;
  border: 0;
  border-radius: 100vmax;
  font-size: 18px;
  font-weight: 600;
  color: white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.logoutDiv {
  margin-top: auto;
  padding: 10px;
}
.logoutDiv:hover {
  cursor: pointer;
  background-color: var(--crl-neutral-200);
  border-radius: 100vmax;
  width: 100%;
}
.logout {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoutTitle {
  font-weight: 700;
  font-size: 14px;
}
.logoutBody {
  font-size: 13px;
}

.trendDiv,
.followDiv {
  border-radius: 16px;
  padding: 10px 20px 20px;
  background-color: var(--crl-neutral-150);
  font-weight: 700;
}
.trendDiv {
  font-size: 20px;
}
.followDiv h2 {
  font-size: 22px;
}
.followItem {
  display: grid;
  grid-template-columns: 100px 1fr fit-content(100px);
  grid-template-rows: 34px;
  align-items: center;
  gap: 10px;
}
.userInform {
  text-align: left;
}
.followName {
  font-size: 14px;
}
.followUserName {
  font-size: 14px;
  color: var(--crl-neutral-500);
}
